body {
  font-family: sans-serif;
  margin: auto;
  padding: 16px;
  max-width: 800px;
}

@media(prefers-color-scheme:dark) {
  body {
    background-color: #161616;
    color: #fefefe;
  }
  a {
    color: lightblue;
  }
}

p {
  text-align: justify;
  text-justify: inter-word;
}